KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=adminadmin
OIDC_REALM=demo
OIDC_CLIENT_ID=whoami-proxy
OIDC_CLIENT_SECRET=whoami-proxy-secret
OAUTH2_PROXY_COOKIE_SECRET=0123456789abcdef0123456789abcdef0123456789ab=
WHOAMI_EXTERNAL_URL=http://whoami.localhost:8088
KEYCLOAK_EXTERNAL_URL=http://keycloak.localhost:8080
